:root {
  --body-regular-font-family: "SF Pro", Helvetica;
  --body-regular-font-weight: 400;
  --body-regular-font-size: 17px;
  --body-regular-letter-spacing: -0.4300000071525574px;
  --body-regular-line-height: 22px;
  --body-regular-font-style: normal;
  --colors-backgrounds-primary: rgba(255, 255, 255, 1);
  --colors-fills-tertiary: rgba(118, 118, 128, 0.12);
  --colors-accents-blue: rgba(0, 136, 255, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-colors-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-colors-mode="light"] {
  --colors-backgrounds-primary: rgba(255, 255, 255, 1);
  --colors-fills-tertiary: rgba(118, 118, 128, 0.12);
  --colors-accents-blue: rgba(0, 136, 255, 1);
}

[data-colors-mode="dark"] {
  --colors-backgrounds-primary: rgba(0, 0, 0, 1);
  --colors-fills-tertiary: rgba(118, 118, 128, 0.24);
  --colors-accents-blue: rgba(0, 145, 255, 1);
}

[data-colors-mode="IC-light"] {
  --colors-backgrounds-primary: rgba(255, 255, 255, 1);
  --colors-fills-tertiary: rgba(118, 118, 128, 0.2);
  --colors-accents-blue: rgba(30, 110, 244, 1);
}

[data-colors-mode="IC-dark"] {
  --colors-backgrounds-primary: rgba(0, 0, 0, 1);
  --colors-fills-tertiary: rgba(118, 118, 128, 0.32);
  --colors-accents-blue: rgba(92, 184, 255, 1);
}
