.iphone-pro-max {
  background-color: #312321;
  overflow: hidden;
  width: 100%;
  min-width: 440px;
  min-height: 956px;
  position: relative;
}

.iphone-pro-max .egermaster {
  position: absolute;
  top: 48px;
  left: 0;
  width: 440px;
  height: 603px;
  aspect-ratio: 0.73;
  object-fit: cover;
}

.iphone-pro-max .durk-full {
  position: absolute;
  top: 0;
  left: -1px;
  width: 444px;
  height: 956px;
  aspect-ratio: 0.46;
  object-fit: cover;
}

.iphone-pro-max .perforation {
  position: absolute;
  top: 745px;
  left: 0;
  width: 440px;
  height: 2px;
  aspect-ratio: 180;
  object-fit: cover;
}

.iphone-pro-max .dark-top-up {
  position: absolute;
  top: 0;
  left: -1px;
  width: 444px;
  height: 178px;
  aspect-ratio: 2.49;
  object-fit: cover;
}

.iphone-pro-max .events-data {
  position: absolute;
  top: 59px;
  left: 13px;
  width: 413px;
  height: 338px;
  aspect-ratio: 1.22;
  object-fit: cover;
}

.iphone-pro-max .organizator {
  position: absolute;
  top: 463px;
  left: 227px;
  width: 160px;
  height: 58px;
  aspect-ratio: 2.76;
  object-fit: cover;
}

.iphone-pro-max .event {
  position: absolute;
  top: 463px;
  left: 67px;
  width: 159px;
  height: 56px;
  aspect-ratio: 2.86;
  object-fit: cover;
}

.iphone-pro-max .artist {
  position: absolute;
  top: 180px;
  left: 95px;
  width: 261px;
  height: 404px;
  aspect-ratio: 0.65;
  object-fit: cover;
}

.iphone-pro-max .rectangle {
  position: absolute;
  top: 529px;
  left: 0;
  width: 440px;
  height: 80px;
  background-color: #130000;
}

.iphone-pro-max .text-wrapper {
  position: absolute;
  top: 543px;
  left: 30px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #000000;
  font-family: "Montserrat-ExtraBoldItalic", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #fffde1;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro-max .drunk-owl-bar {
  position: absolute;
  top: 813px;
  left: 35px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro-max .div {
  position: absolute;
  top: 768px;
  left: 35px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.iphone-pro-max .group {
  position: absolute;
  top: 633px;
  left: 53px;
  width: 337px;
  height: 88px;
}

.iphone-pro-max .TKT-GE {
  position: absolute;
  top: 0;
  left: 0;
  width: 335px;
  height: 88px;
  aspect-ratio: 3.81;
  object-fit: cover;
}

.iphone-pro-max .element-GEL {
  position: absolute;
  top: 12px;
  left: 263px;
  font-family: "Montserrat-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro-max .span {
  font-family: "Montserrat-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
}

.iphone-pro-max .text-wrapper-2 {
  font-size: 20px;
}

.iphone-pro-max .date-and-time {
  display: inline-flex;
  height: 34px;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;
  position: absolute;
  top: 16px;
  left: 27px;
  border-radius: 6px;
}

.iphone-pro-max .date {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 6px 11px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--colors-fills-tertiary);
  border-radius: 100px;
}

.iphone-pro-max .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-regular-font-family);
  font-weight: var(--body-regular-font-weight);
  color: var(--colors-backgrounds-primary);
  font-size: var(--body-regular-font-size);
  text-align: center;
  letter-spacing: var(--body-regular-letter-spacing);
  line-height: var(--body-regular-line-height);
  white-space: nowrap;
  font-style: var(--body-regular-font-style);
}

.iphone-pro-max .date-and-time-2 {
  display: inline-flex;
  height: 34px;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;
  position: absolute;
  top: 16px;
  left: 318px;
  border-radius: 6px;
}

.iphone-pro-max .time {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 6px 11px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--colors-fills-tertiary);
  border-radius: 100px;
}

.iphone-pro-max .dark-down {
  position: fixed;
  top: 749px;
  left: 0;
  width: 440px;
  height: 210px;
  aspect-ratio: 2.1;
  object-fit: cover;
}

.iphone-pro-max .food {
  position: fixed;
  top: 893px;
  left: 273px;
  width: 142px;
  height: 63px;
  object-fit: cover;
}

.iphone-pro-max .bar {
  position: fixed;
  top: 893px;
  left: 28px;
  width: 137px;
  height: 63px;
  object-fit: cover;
}

.iphone-pro-max .menu {
  position: fixed;
  top: 892px;
  left: 157px;
  width: 126px;
  height: 64px;
  object-fit: cover;
}
/* Original CSS should be injected here from style.css */

.iphone-pro-max {
  background-color: #312321;
  overflow: hidden;
  width: 100%;
  min-width: 440px;
  min-height: 956px;
  position: relative;
}

.iphone-pro-max .egermaster {
  position: absolute;
  top: 48px;
  left: 0;
  width: 440px;
  height: 603px;
  aspect-ratio: 0.73;
  object-fit: cover;
}

.iphone-pro-max .durk-full {
  position: absolute;
  top: 0;
  left: -1px;
  width: 444px;
  height: 956px;
  aspect-ratio: 0.46;
  object-fit: cover;
}

.iphone-pro-max .perforation {
  position: absolute;
  top: 745px;
  left: 0;
  width: 440px;
  height: 2px;
  aspect-ratio: 180;
  object-fit: cover;
}

.iphone-pro-max .dark-top-up {
  position: absolute;
  top: 0;
  left: -1px;
  width: 444px;
  height: 178px;
  aspect-ratio: 2.49;
  object-fit: cover;
}

.iphone-pro-max .events-data {
  position: absolute;
  top: 59px;
  left: 13px;
  width: 413px;
  height: 338px;
  aspect-ratio: 1.22;
  object-fit: cover;
}

.iphone-pro-max .organizator {
  position: absolute;
  top: 463px;
  left: 227px;
  width: 160px;
  height: 58px;
  aspect-ratio: 2.76;
  object-fit: cover;
}

.iphone-pro-max .event {
  position: absolute;
  top: 463px;
  left: 67px;
  width: 159px;
  height: 56px;
  aspect-ratio: 2.86;
  object-fit: cover;
}

.iphone-pro-max .artist {
  position: absolute;
  top: 180px;
  left: 95px;
  width: 261px;
  height: 404px;
  aspect-ratio: 0.65;
  object-fit: cover;
}

.iphone-pro-max .rectangle {
  position: absolute;
  top: 529px;
  left: 0;
  width: 440px;
  height: 80px;
  background-color: #130000;
}

.iphone-pro-max .text-wrapper {
  position: absolute;
  top: 543px;
  left: 30px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #000000;
  font-family: "Montserrat-ExtraBoldItalic", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #fffde1;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  margin: 0;
}

.iphone-pro-max .drunk-owl-bar {
  position: absolute;
  top: 813px;
  left: 35px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  margin: 0;
}

.iphone-pro-max .drunk-owl-bar p {
  margin: 0;
}

.iphone-pro-max .div {
  position: absolute;
  top: 768px;
  left: 35px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  margin: 0;
}

.iphone-pro-max .group {
  position: absolute;
  top: 633px;
  left: 53px;
  width: 337px;
  height: 88px;
}

.iphone-pro-max .TKT-GE {
  position: absolute;
  top: 0;
  left: 0;
  width: 335px;
  height: 88px;
  aspect-ratio: 3.81;
  object-fit: cover;
}

.iphone-pro-max .element-GEL {
  position: absolute;
  top: 12px;
  left: 263px;
  font-family: "Montserrat-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  margin: 0;
}

.iphone-pro-max .span {
  font-family: "Montserrat-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
}

.iphone-pro-max .text-wrapper-2 {
  font-size: 20px;
}

.iphone-pro-max .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-regular-font-family);
  font-weight: var(--body-regular-font-weight);
  color: var(--colors-backgrounds-primary);
  font-size: var(--body-regular-font-size);
  text-align: center;
  letter-spacing: var(--body-regular-letter-spacing);
  line-height: var(--body-regular-line-height);
  white-space: nowrap;
  font-style: var(--body-regular-font-style);
}

.iphone-pro-max .dark-down {
  position: fixed;
  top: 749px;
  left: 0;
  width: 440px;
  height: 210px;
  aspect-ratio: 2.1;
  object-fit: cover;
}

.iphone-pro-max .bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 440px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.iphone-pro-max .food {
  position: fixed;
  top: 893px;
  left: 273px;
  width: 142px;
  height: 63px;
  display: block;
}

.iphone-pro-max .food img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.iphone-pro-max .bar {
  position: fixed;
  top: 893px;
  left: 28px;
  width: 137px;
  height: 63px;
  display: block;
}

.iphone-pro-max .bar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.iphone-pro-max .menu {
  position: fixed;
  top: 892px;
  left: 157px;
  width: 126px;
  height: 64px;
  display: block;
}

.iphone-pro-max .menu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
